.tools {
  padding: 80px 0;
  background: var(--ifm-background-surface-color);
}

.grid {
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.icon {
  margin-bottom: 0.75rem;
}

[data-theme='dark'] .invertInDark {
  filter: invert(1);
}

.label {
  font-weight: 500;
  font-size: 0.85rem;
}
